html { font-size: 100%; }
body { @extend %font_base; }

#{headings()}
	{
		line-height: 1.5;
		
  		margin-bottom: $vertical-rythm/2;
  		font-weight: 400;
  		text-transform: uppercase;
  		letter-spacing: 1px;

  		margin-top: $margin-sec;
  		&:first-child { margin-top: 0; }
	}

#{headings(1,2)}
	{
		margin-bottom: $vertical-rythm/2;
	}


@for $i from 2 through 4
	{
	  h#{$i}
		  {
		  	font-size: $font-size-title - 2 * $i;
		  }
	}


h1 { font-size: $font-size-title; }
h5 { font-size: $font-size-base; }

.t-gt { font-size: $font-size-base * 2; }
.t-lg { font-size: $font-size-base + 8; }
.t-md { font-size: $font-size-base + 2; }
.t-sm { font-size: $font-size-base - 3; }

/*====== end of Text sizes & Headers ======*/




/*====== Text styles ======*/

a{
	@extend %link_noline;
	border-width: 0 0 0.5px;
	border-style: solid;

	&:hover{ opacity: .7; }
}

b { font-weight: 500; }


li, p
	{
	  margin-bottom: $vertical-rythm;
	  font-weight: 300;

	  &:last-child{
	  	margin-bottom: 0;
	  }
	}


ul, ol
	{
	  margin-left: 20px;
	  margin-bottom: $vertical-rythm;

	  ul, ol{
	  	margin-top: $vertical-rythm;
	  }
	}


blockquote
	{
		border-width: 6px;
		border-style: double;
		padding: $margin-sec/2;

		margin: $margin-sec 0;

		h2
		{
			font-size: 30px;
			text-transform: none;
			letter-spacing: 0px;
		}
	}

hr{
	// background-color: lighten($c-background, 60%);
	border: 0;
	height: 1px;
	margin-top: $vertical-rythm/2;
	margin-bottom: $vertical-rythm/2;

	&.hr-lg{
		height: 3px;
		margin-top: $vertical-rythm;
		margin-bottom: $vertical-rythm;
	}
}

table
	{

		margin-top: $vertical-rythm;
		margin-bottom: $vertical-rythm;
		font-weight: 400;

		&:first-child { margin-top: 0; }
		&:last-child { margin-bottom: 0; }

		td, th {
			padding: $padding-fields-in;
			border-width: 0 0 0.5px;
			border-style: solid;
			transition: 0.2s ease-in all;
		}

		tr:last-child {
			td, th { border-width: 0; }
		}

		th{
			text-align: left;
			font-weight: 300;
		}

		td.subtitle { font-weight: 300; }

	}

// .table-responsive { @include responsiveTable($mq-tablet); }

// .table-space--10 { border-spacing: 10px; }
// .table-fixed { table-layout: fixed }


/*====== end of Text elements ======*/






/*====== Margins & paddings ======*/

// @include margins(0);
// @include margins(5);
// @include margins(10);
// @include margins(15);
// @include margins(20);
// @include margins(30);
// @include margins(40);

.m-sec { margin: $margin-sec;  }
.m-b-sec { margin-bottom: $margin-sec;  }
.m-b-sec--big { margin-bottom: $margin-sec*2;  }
.m-t-sec--big { margin-top: $margin-sec*2;  }

// .m-b-half { margin-bottom: $margin-sec/2; }
// .m-t-half { margin-top: $margin-sec/2; }


// @include paddings(0);
// @include paddings(10);
/*====== end of Margins & paddings ======*/



// .breakwords { word-break: break-all; }
.nowrap { white-space: nowrap; }

.t-align--center { text-align: center !important; }
.t-align--right { text-align: right !important; }
.t-align--left { text-align: left !important; }

.t-uppercase { @extend %text_uppercase; }

.t-hyphen
	{
		text-align: justify;
		hyphens: auto;
	}

.i-block { @extend %i-block; }
