#intro-content{
  max-width: 700px;
}


.grid
  {
    column-count: 4;
    column-gap: 0;
    // column-gap: 4px;
  }


.grid-item
  {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;

    // img, span { transition: 0.6s ease all; }

    span
      {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: #fff;
      }
  }

a.grid-item
  {
    // img
    //   {
    //     transform: scale(1);
    //     transition: transform .2s ease-in-out;
    //   }

    &:hover{
      opacity: 1;
      // img { transform: scale(1.08); }
    }
  }